name: Test

on:
  pull_request: {}
  push:
    branches:
      - main

env:
  BUNDLE_WITHOUT: release

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Run Rubocop
        run: bundle exec rake rubocop


  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: '3.1'
          - ruby: '3.2'
          - ruby: '3.3'
          - ruby: '3.4'
          - ruby: '4.0'

    name: RSpec - Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: spec tests
        run: bundle exec rake test:spec
      - name: Verify gem builds
        run: gem build --strict --verbose *.gemspec

  tests:
    needs:
      - rubocop
      - rspec
    runs-on: ubuntu-latest
    name: Test suite
    steps:
      - run: echo Test suite completed
